{% extends 'base.html.twig' %}

{% block title %}Interns Managment{% endblock %}

{% block body %}
<main class="container py-4">
    <h1 class="h3 mb-3 fw-normal">Interns Managment</h1>

    <table class="table">
        <thead class="table-light">
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Duration</th>
                <th>Subject</th>
                <th>Salary</th>
                <th>Eval</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intern in interns %}
            <tr>
                <td>{{ intern.id }}</td>
                <td>{{ intern.firstName }}</td>
                <td>{{ intern.lastName }}</td>
                <td>{{ intern.duration }}</td>
                <td>{{ intern.subject }}</td>
                <td>{{ intern.salary }}</td>
                <td>{{ intern.eval }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('app_intern_show', {'id': intern.id}) }}">Show</a>
                    <a class="btn btn-sm btn-secondary" href="{{ path('app_intern_edit', {'id': intern.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-lg btn-primary my-3" href="{{ path('app_intern_new') }}">Create New</a>
    <a class="btn btn-lg btn-outline-primary" href="{{ path('intern_export_pdf') }}">Export as PDF</a>
</main>
{% endblock %}
